{{ form_start(form) }}
{{ form_label(form.title) }}<br>
{{ form_widget(form.title) }}<br>
{{ form_label(form.link) }}<br>
{{ form_widget(form.link) }}<br>
{{ form_label(form.content) }}<br>
{{ form_widget(form.content) }}<br>
{{ form_label(form.imageFile) }}<br>
{{ form_widget(form.imageFile) }}<br>
{{ form_label(form.tags) }}<br>
{% for field in form.tags %}
    <div style="display: inline-block; width: 180px;">
        {{ form_widget(field) }}
        {{ form_label(field) }}
    </div>
{% endfor %}<br>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
