{% extends 'adminBase.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Articles index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Link</th>
                <th>Content</th>
                <th>Picture</th>
                <th>Tags</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.link }}</td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.picture }}</td>
                    <td>{{ article.tags }}</td>
                    <td>
                        <a href="{{ path('articles_show', {'id': article.id}) }}">show</a>
                        <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
