{% extends 'adminBase.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Articles index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Picture</th>
                <th>Tags</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('articles_show', {'id': article.id}) }}">{{ article.title|capitalize }}</a></td>
                <td>{{ article.updatedAt |date("d/m/Y") }}</td>
                <td> <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.imageName}}" /></td>
                <td>
                    {% for tag in article.getTags() %}
                       <div class="tagColumn"> {{ tag.getName() }}</div>
                    {% endfor %}
                </td>
                <td>
                    <button type="button" class="btn btn-success">
                        <a class="indexButton" href="{{ path('articles_edit', {'id': article.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
