{% extends 'adminBase.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Articles index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Picture</th>
                <th>Tags</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('articles_show', {'id': article.id}) }}">{{ article.title }}</a></td>
                <td> <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.imageName}}" /></td>
                <td>
                    {% for tag in article.tags %}
                       {{ tag }} ,
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
