{% extends 'adminBase.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="containers">
        <h1>{{ article.title|capitalize }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <td>{{ article.updatedAt |date("d/m/Y") }}</td><br>
            </tr>
            <tr>Show
                <th class="tableShowHeader">Link</th>
                <td class="tableShowColumn">{{ article.link }}</td>
            </tr>
            <tr>
                <th class="tableShowHeader">Picture</th>
                <td class="tableShowColumn"><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.imageName}}" /></td>
            </tr>
            <tr>
                <th class="tableShowHeader">Content</th>
                <td class="tableShowColumn">{{ article.content }}</td>
            </tr>
            <tr>
                <th class="tableShowHeader">Tags</th>
                <td class="tableShowColumn">
                    {% for tag in article.getTags() %}
                        {{ tag.getName() }},
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button"  class="btn btn-success">
            <a class="editButtonShow" href="{{ path('articles_edit', {'id': article.id}) }}">edit</a></button>

        {{ include('articles/_delete_form.html.twig') }}
    </div>
{% endblock %}
