{% extends 'clientBase.html.twig' %}
{% block analytics %}
    {% if chcookieconsent_isCategoryAllowedByUser('analytics') == true %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-183904782-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-183904782-1', {
            'page_title' : 'Home',
            'page_path': '/'
        });
    </script>
    {% endif %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="parallax">
        <div id="layer0" class="layer"><img src="/assets/parallax/matterhorn0.png" alt=""></div>
        <div id="layer1" class="layer"><img src="/assets/parallax/matterhorn1.png" alt=""></div>
        <div id="layer2" class="layer"><img src="/assets/parallax/matterhorn2.png" alt=""></div>
        <div id="logo" class="layer"><img src="/assets/logo.png" alt=""></div>
        <div id="layer3" class="layer"><img src="/assets/parallax/matterhorn3.png" alt=""></div>
        <div id="layer4" class="layer"><img src="/assets/parallax/matterhorn4.png" alt=""></div>
        <div id="layer5" class="layer"><img src="/assets/parallax/matterhorn5.png" alt=""></div>
        <div id="layer6" class="layer"><img src="/assets/parallax/matterhorn6.png" alt=""></div>
        <div id="parallax_cover"></div>
    </div>
    <div id="wrapper">
        <div id="intro">
            <h2>Welcome to my portfolio, feel free to look around and contact me if you want more information.</h2>
        </div><br><br>

        <div id="latest">
            <h2>my latest project</h2><br>
            <h1><a href="{{ path('homepagearticle', {'id': last.id}) }}">{{ last.title|capitalize }}</a></h1><br>
            <a href="{{ path('homepagearticle', {'id': last.id}) }}"><img class="article_image" src="{{ vich_uploader_asset(last,'imageFile') }}" alt="project demo image" /></a><br>
            <br><span>Date updoaded: {{ last.updatedAt |date("d/m/Y") }}</span><br>
            <span>Tags:
        {% for tag in last.tags %}
            <a href="{{ path('homepagearticles', {'category': tag.name}) }}">{{ tag.name }}</a>
        {% endfor %}
            </span>
        </div>
    </div>
    <script src="/js/parallax.js"></script>
    <script src="/js/scroll.js"></script>
{% endblock %}
