{% extends 'clientBase.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <div class="container">
        {% for article in articles %}
            <div class="article">
                <h1><a href="{{ path('homepagearticle', {'id': article.id}) }}">{{ article.title }}</a></h1>
                <img src="{{ vich_uploader_asset(article,'imageFile') }}" alt="project demo image" /><br>
                Tags:
                {% for tag in tags %}
                    <a href="{{ path('homepagearticles', {'category': tag.name}) }}">{{ tag.name }}</a>
                {% endfor %}
                <hr>
            </div>
        {% else %}
                <span>no records found</span>
        {% endfor %}
    </div>
{% endblock %}
