{% extends 'clientBase.html.twig' %}
{% block analytics %}
    {% if chcookieconsent_isCategoryAllowedByUser('analytics') == true %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-183904782-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-183904782-1', {
            'page_title' : '{{ title|capitalize }} articles',
            'page_path': '{{ path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) }}'
        });
    </script>
    {% endif %}
{% endblock %}
{% block title %}{{ title|capitalize }} projects{% endblock %}

{% block body %}
    <div class="containers articles row">
        {% for article in articles %}
            <div class="col-12 col-sm-6 col-xl-3 article_wrapper">
                <div class="article">
                    <h1><a href="{{ path('homepagearticle', {'id': article.id}) }}">{{ article.title|capitalize }}</a></h1><br>
                    <a href="{{ path('homepagearticle', {'id': article.id}) }}"> <img class="article_image" src="{{ vich_uploader_asset(article,'imageFile') }}" alt="project demo image" /></a><br>
                    <br><span>{{ article.updatedAt |date("d/m/Y") }}</span><br>
                    Tags:
                    {% for tag in article.tags %}
                        <a href="{{ path('homepagearticles', {'category': tag.name}) }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% else %}
                <span>no records found</span>
        {% endfor %}
    </div>
{% endblock %}
