{% extends 'clientBase.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container">
        {% for result in results %}
            <div class="article">
                <h1><a href="{{ path('homepagearticle', {'id': result.id}) }}">{{ result.title|capitalize }}</a></h1>
                <span>{{ article.updatedAt |date("m/d/Y") }}</span><br>
                <img src="{{ vich_uploader_asset(result, 'imageFile') }}" alt="{{ result.imageName}}" /><br>
                Tags:
                {% for tag in result.tags %}
                    <a href="{{ path('homepagearticles', {'category': tag}) }}">{{ tag }}</a>
                {% endfor %}
                <hr>
            </div>
        {% else %}
            <span>no records found</span>
        {% endfor %}
    </div>
{% endblock %}
