{% extends 'clientBase.html.twig' %}
{% block analytics %}
    {% if chcookieconsent_isCategoryAllowedByUser('analytics') == true %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-183904782-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-183904782-1', {
            'page_title' : 'Search results',
            'page_path': '/about-me'
        });
    </script>
    {% endif %}
{% endblock %}
{% block title %}Search results{% endblock %}

{% block body %}
    <div class="containers articles row">
        {% for result in results %}
            <div class="article col-3">
                <h1><a href="{{ path('homepagearticle', {'id': result.id}) }}">{{ result.title|capitalize }}</a></h1>
                <span>{{ result.updatedAt |date("d/m/Y") }}</span><br>
{#                <img src="{{ vich_uploader_asset(result,'imageFile') }}" alt="project demo image" /><br>#}
                <a href="{{ path('homepagearticle', {'id': result.id}) }}"><img class="article_image" src="/assets/icon.png" alt="project demo image" /></a><br>
                Tags:
                {% for tag in result.tags %}
                    <a href="{{ path('homepagearticles', {'category': tag.name}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        {% else %}
            <span>no records found</span>
        {% endfor %}
    </div>
{% endblock %}
