{% extends 'clientBase.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <a href="{{ article.link }}">link to project</a><br>
        <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.imageName}}" />
        <p>{{ article.content }}</p>
        <span>Tags:
        {% for tag in article.tags %}
            <a href="{{ path('homepagearticles', {'category': tag}) }}">{{ tag }}</a>
            {% endfor %}
        </span>



    </div>
{% endblock %}
