{% extends 'clientBase.html.twig' %}
{% block analytics %}
    {% if chcookieconsent_isCategoryAllowedByUser('analytics') == true %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-183904782-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-183904782-1', {
            'page_title' : '{{ article.title|capitalize }}',
            'page_path': '{{ path(app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params')) }}'
        });
    </script>
    {% endif %}
{% endblock %}
{% block title %}{{ article.title|capitalize }}{% endblock %}

{% block body %}
    <div class="containers solo_article row">
        <div class="col-6">
            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="project demo image" />
        </span>
        </div>
        <div class="col-6 text">
            <h1>{{ article.title|capitalize }}</h1>
            <span>Date updoaded: {{ article.updatedAt |date("d/m/Y") }}</span><br>
            <a href="{{ article.link }}">link to project</a><br>
            <p>{{ article.content }}</p>
            <span>Tags:
        {% for tag in article.tags %}
            <a href="{{ path('homepagearticles', {'category': tag.name}) }}">{{ tag.name }}</a>
        {% endfor %}
        </div>
    </div>
{% endblock %}
