{% extends 'clientBase.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <a href="{{ article.link }}">link to project</a><br>
        <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="project demo image" />
        <p>{{ article.content }}</p>
        <span>Tags:
        {% for tag in tags %}
            <a href="{{ path('homepagearticles', {'category': tag.name}) }}">{{ tag.name }}</a>
        {% endfor %}
        </span>



    </div>
{% endblock %}
